<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../styles/stylelogin.css" rel="stylesheet" />
    <title>Login - Collège de Paris</title>
  </head>
  <body>
    <div class="login-container">
      <div class="image-section">
        <img src="../asstes/pic.jpg" alt="Eiffel Tower" />
      </div>
      <div class="login-section">
        <img src="../asstes/logo.png" alt="College de Paris" class="logo" />
        <h2>Login</h2>
        <form>
          <input type="email" placeholder="Email" required />
          <input type="password" placeholder="Password" required />
          <button type="submit" class="btn primary">Sign in</button>
          <button type="button" class="btn secondary">Connect With Alma</button>
          
        </form>
      </div>
    </div>
  </body>
</html>
