<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login  | College de Paris</title>
    <link href="stylelogin.css"rel="stylesheet" />
        <script src="login.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="login-panel">

            <img src="pics/logo.png" alt="College de Paris" class="logo">

            <h2>Login</h2>

            <div class="input-group">
                <label for="username"></label>
                <input type="text" id="username" placeholder="Nom">

                <i class="fas fa-user">
                    <img src="pics/profile_icon.png" id="togglePassword">
                </i> 
                </i>
            </div>




            <div class="input-group">
                <input type="password" id="password" placeholder="Mot De Passe ">
                <i class="fas fa-lock">
                    <img src="pics/eye_icon (1).png" id="togglePassword">
                </i> 
            </div>


            <button class="btn" onclick="login()"> Entrer </button>
        </div>
    </div>
    <script src="../LOGIN/login.js"></script>
</body>
</html>

