.logo {
    width: 100px;    /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    height: 100px; 
    display: block;
    margin: 0 auto; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("pics/login_img.png") no-repeat center center/cover;
}

.container {
    width: 1440px;
    height: 1024px;
    display: flex;
}

.login-panel {
    width: 32%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h2 {
    font-size: 24px; 
    color: #fff; 
    text-align: center; 
    font-weight: bold; 
    margin-bottom: 20px; /* Add spacing belowwwww */
}

.login-panel img {
    width: 180px;
    margin-bottom: 30px;
}

.login-panel h2 {
    font-weight: 600;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px 40px 10px 0;
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    color: white;
    font-size: 16px;
}

.input-group input:focus {
    outline: none;
    border-bottom: 1px solid #FFFFFF;
}

.input-group i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #C0A262;
}
.input-group i {
    position: absolute;
    right: 10px;
    top: 100%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.input-group i img {
    width: 16px; 
    height: 16px;
    cursor: pointer;
    opacity: 0.7;
}

.input-group i img:hover {
    opacity: 1;
}

.btn {
    background: #C0A262;
    color: #000;
    padding: 12px;
    border: none;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background: #AE905A;
}


/*@media (max-width: 768px) {
    
    .logo {
            width: 80px; 
        }
    
    .container {
        width: 100%;
        height: 100vh;
    }
    .login-panel {
        width: 90%;
        padding: 40px;
    }
    h2 {
        font-size: 20px;
    }
    .input-group input {
        font-size: 14px;
    }
}*/
 