/* Figma Styles of your File */
:root {
  /* Colors */
  /* Fonts */
  /* Effects */
}
body {
  background-color: #f5f5f5; 
  overflow: visible !important;
}

button {
  background-color: #c8aa6e ;
}
a,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;

  -webkit-font-smoothing: antialiased;
}

menu,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: #693838 !important;
  padding: 10% !important;
  margin: 2% !important;
  border-radius: 2% !important;
}
.n-css {
  background-color: rgb(5, 0, 59) !important;
  color: aliceblue !important;
  /* width: 4% !important; */
}
.colorinput {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  white-space: normal;
  word-break: break-word;
  word-wrap: break-word;
  color: #626262;
  margin: 3px;
  padding: 0;
  text-align: left;
  white-space: normal;
  display: block;
  max-height: 100%;
  box-sizing: border-box;
  cursor: default;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececec83;
  padding: 5px;
}
#color {
  background-color: #c8aa6e;
  color: white;
  border: none;
}
#color:hover {
  background-color: #8a754a;
  color: white;
  border: none;
}
#color:active {
  background-color: #8a754a;
  color: white;
  border: none;
}
#color:focus {
  background-color: #8a754a;
  color: white;
  border: none;
}

.background {
  background-color: #6a6e7d;
}

.colorx {
  color: aliceblue;
}

#gold_color {
  background-color: #c8aa6e   !important ; 
}

#text_gold_color {
  color: #c8aa6e !important;
}

.bgcolor {
  background-color: #c8aa6e;
}
.textcolor {
  color: #c0a262;
}

.custom-close {
  background-color: black;
  color: white;
  border: none;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-close:hover {
  background-color: #333;
}
.logo {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
#staticBackdrop {
  width: 20rem;
}
.btn-blue {
  color: white;
}
.btn-blue:hover {
  color: white;
  background-color: #c8aa6e;
}

.side {
  margin: 0;
  padding: 1%;
  box-sizing: border-box;
}

.btn-gold {
  color: rgb(36, 31, 31);
}
.btn-gold:hover {
  color: white;
  background-color: #c8aa6e;
}

.backgroundlogin {
  background-image: url("paris_night.jpg");
  /* background-color: #693838; */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

#btn-secondary {
  background-color: #6a6e7d;
  color: #f5f5f5;
}

/* Inputs */
.login-section {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  transition: all 0.3s ease;
  outline: none;
}

/* Hover */
.login-section:hover {
  border-bottom: 1px solid #c0a262;
}

/* Focus (لما المستخدم يبدأ يكتب) */
.login-section:focus {
  border-bottom: 1px solid #c0a262;
  outline: none;
}

/* Active (لما يضغط ويواصل الضغط) */
.login-section:active {
  border-bottom: 1px solid #c0a262;
}

/* Disabled */
.login-section:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  border-bottom: 1px dashed #999;
}

/* Valid input */
.login-section:valid {
  border-bottom: 1px solid #28a745;
}

/* Invalid input */
.login-section:invalid {
  border-bottom: 1px solid #c0a262;
}

/* استايلات للـ Link */
.login-link {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  text-decoration: none; /* حذف خط الرابط */
}

/* استايلات للـ input */
.login-sectionx {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  height: 40px;
}

#navcolor {
  color: #000000;
    /* background-color: #c0a262; */
}

.btn-primary {
  background-color: #c0a262;       /* gold */
  border-color: #c0a262;
  color: #fff;
}

.text-primary
{
  color:black;
}

.bg-primary{
  background-color: #c0a262;
}




  
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.show,
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #a88442;       /* darker gold */
  /* border-color: #a88442; */
  color: #fff;
}

.btn-primary{
  color: #e4e4e4
}




#navcolor :hover {
  background-color: #c0a262;
  color: #f6f6f6;
  border: 1px solid #c0a262;
}

#navcolor :focus {
  background-color: #c0a262;
  color: #f6f6f6;
  border: 1px solid #c0a262;
}

#navcolor :active {
  background-color: #c0a262  !important; 
  color: #f6f6f6;
  border: 1px solid #c0a262;
}

#navcolor :valid {
  background-color: #c0a262;
  color: #f6f6f6;
  border: 1px solid #c0a262;
}
#navcolor.show  {
  background-color: #c0a262;
  color: #f6f6f6;
  border: 1px solid #c0a262;
}

#navcolor :disabled {
  background-color: #c0a262;
  color: #f6f6f6;
  border: 1px solid #c0a262;
}

/* Highlight today's cell */
